<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="local-nuget" value="./assets/packages" />
		<add key="SourceGeneratorFramework" value="..\purview-sourcegeneratorframework\artifacts" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="local-nuget">
			<!-- Remove this once the latest ZodSharp is released. -->
			<package pattern="ZodSharp*" />
		</packageSource>
		<packageSource key="SourceGeneratorFramework">
			<package pattern="Purview.SourceGeneratorFramework*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
