<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<config>
		<add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
	</config>-->
	<packageSources>
		<add key="project-packages" value="./assets/packages" />
		<!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
	</packageSources>
	<!--<packageSourceMapping>
		<packageSource key="project-packages">
			--><!-- Remove this once the latest ZodSharp is released. --><!--
			<package pattern="ZodSharp*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>-->
</configuration>
